{% extends 'base.html' %}
{% block title %}Support DCVMU{% endblock %}
{% block content %}
<p class="eyebrow">KEEP DREAMCAST PLAYING</p>
<h1>Support DCVMU</h1>
<p>Enjoying cloud saves for your Dreamcast? You can support the project and help cover hosting and development.</p>
<p><a href="https://buymeacoffee.com/richstokes"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy me a coffee" height="50"></a></p>
<p><a href="https://buymeacoffee.com/richstokes">Buy me a coffee</a></p>
<p>Thanks for helping keep Dreamcast saves safe and shareable!</p>
<p>You can also explore the code and contribute on <a href="https://github.com/richstokes/dreamcast-homebrew">GitHub</a>.</p>
{% endblock %}
